@model ForgetPasswordViewModel
@{
    Layout = null;
}

<h1>Forget Password</h1>


<div class="container">
    <div class="row">
        <form class="form" method="post">
            <div class="text-danger" asp-validation-summary=ModelOnly></div>
            <div class="form-group">
                <input class="form-control form-control-lg" asp-for="Email" placeholder="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Send My Password</button>
            </div>
        </form>
    </div>
</div>
