@model ForgetPasswordViewModel
@{
    Layout = null;
}

<form class="login100-form validate-form" method="post">
    <div class="text-danger" asp-validation-summary=ModelOnly></div>
    <input asp-for="Token" type="hidden"/>
    <input asp-for="Email" type="hidden"/>
    <span class="login100-form-title">
        Reset Password
    </span>
    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input class="form-control" placeholder="Password" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <div class="form-group">
            <label asp-for="ConfirmPassword">ConfirmPassword</label>
            <input class="form-control" placeholder="Password" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <span class="focus-input100"></span>
    </div>
    <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
            Reset Password
        </button>
    </div>
</form>