@model List<Product>

    @foreach (var item in Model)
   {
       <li>
           <a asp-controller="Products" asp-action="Detail" asp-route-id=@item.Id>
               @item.Name
           </a>
       </li>
   }